<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap" rel="stylesheet" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}" />
    <link rel="manifest" href="{% static 'img/site.webmanifest' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header>
      <div class="container">
        <nav>
          <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'img/logo-new-3.png' %}" alt="HealthLuk Logo" />
            </a>
          </div>
          <ul>
            <li>
              <a href="https://www.facebook.com/healthlukdirectory" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'img/fb.png' %}" alt="FB" />
            </a>
            </li>
            <li>
              <a href="https://www.instagram.com/healthluk" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'img/ig.png' %}" alt="IG" />
            </a>
            </li>
            <li>
              <a href="https://www.twitter.com/@healthlukdir" target="_blank" rel="noopener noreferrer">
                <img src="{% static 'img/twitter.png' %}" alt="TW" />
            </a>
            </li>
          </ul>
        </nav>
        {% block content %}{% endblock content %}
      </div>
    </header>
  </body>
</html>